{"swagger":"2.0","info":{"title":"LotaData Events Firehose API","description":"Obtain the location-based situational context, affinity tags and relevant correlations in real-time to improve your mobile ad targeting, to increase your app monetization and to enrich your user profiles.","version":"1.0.0","contact":{"name":"LotaData","url":"http://lotadata.com"}},"basePath":"/lte.1","host":"api2.lotadata.com","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"security":[{"internalApiKey":[]}],"paths":{"/firehose/":{"get":{"tags":["Events Context"],"description":"Obtain situational context, categories, genres, and event keywords","operationId":"getFirehose","security":[{"internalApiKey":[]}],"produces":["application/json"],"parameters":[{"name":"api_key","required":true,"in":"query","description":"Your API key","type":"string"},{"name":"q","in":"query","description":"Keyword to search for","type":"string"},{"name":"category","in":"query","description":"Normalized category to search for","type":"string"},{"name":"capacityMin","in":"query","description":"Only include results at venues of min size","type":"integer"},{"name":"max","in":"query","description":"Max records per response","type":"integer","format":"int32","default":20},{"name":"start","in":"query","description":"Returns matching events starting with the specified offset (paging)","type":"integer","format":"int32","default":0},{"name":"bottomRight","in":"query","type":"string","description":"SouthWest bounding box corner (lat,lng)"},{"name":"topLeft","in":"query","type":"string","description":"NorthWest bounding corner (lat,lng)"},{"name":"fromDay","in":"query","type":"string","description":"events scheduled from this day. (ISO Date)","default":"2015-04-01"},{"name":"toDay","in":"query","type":"string","description":"events scheduled to this day","default":"2015-04-01"},{"name":"fromTime","in":"query","type":"string","description":"events scheduled between this time and toTime. Note: You can search during 6pm to 10pm window spanning multiple days (HH:MM)","default":"18:00"},{"name":"toTime","in":"query","type":"string","description":"events scheduled to start no later than this time (HH:MM)"},{"name":"updated","in":"query","type":"string","description":"returns events added or refreshed after specified date and time. Timestamp in ISO format."}],"responses":{"200":{"description":"Matched Events","schema":{"$ref":"#/definitions/FirehoseResponse"}},"400":{"description":"error payload","schema":{"$ref":"#/definitions/ErrorMessage"}}}}}},"securityDefinitions":{"internalApiKey":{"type":"apiKey","in":"query","name":"api_key"}},"definitions":{"FirehoseResponse":{"properties":{"status":{"type":"string"},"query":{"type":"object","properties":{"matches":{"description":"Total matches for your query","type":"integer"},"max":{"type":"integer","description":"Max results restriction for this request"},"start":{"type":"integer","description":"Starting offset into matched results"}}},"events":{"type":"array","items":{"$ref":"#/definitions/AbstractEvent"}}}},"AbstractEvent":{"properties":{"id":{"type":"string","description":"System ID for this event. Shared by other occurrences of the event."},"oid":{"type":"integer","description":"Occurrence ID of this event"},"repeats":{"type":"integer","description":"How many times this event is known to repeat"},"title":{"type":"string"},"categories":{"description":"Normalized tier 1 categories","type":"array","items":{"type":"string"}},"genres":{"description":"Tier 2 taxonomy node","type":"array","items":{"type":"string"}},"features":{"description":"Important keywords","type":"array","items":{"type":"string"}},"at":{"description":"Location of the event","$ref":"#/definitions/EventVenue"},"when":{"description":"Date and time of matched occurrence","type":"object"},"price":{"description":"List of known prices in cents","type":"array","items":{"type":"integer"}},"updated":{"description":"Creation or update timestamp in ISO format (GMT)","type":"string"}}},"EventVenue":{"properties":{"venueId":{"description":"internal venue id","type":"string"},"name":{"description":"Name of the venue or place","type":"string"},"geo":{"description":"GeoJSON point [longitude, latitude]","type":"array","items":{"type":"number"}},"address":{"$ref":"#/definitions/Address"},"lowCapacity":{"description":"low capacity estimate","type":"integer"},"highCapacity":{"description":"maximum capacity","type":"integer"}}},"Address":{"properties":{"street":{"type":"string"},"locality":{"type":"string"},"region":{"type":"string"},"postalCode":{"type":"string"},"country":{"type":"string"}}},"ErrorMessage":{"required":["status","message"],"properties":{"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"detail":{"type":"object"},"extra":{"type":"object"}}}}}
