@CHARSET "ISO-8859-1";
.ui-widget, .ui-widget .ui-widget {
     font-size: 93% !important;
}
.logo {
	position: absolute;
	top: 5px;
	left: 15px;
	height: 70px;
}
#top.ui-widget-content{
	border: 0px; !important;
}
/* #center.ui-widget-content{ */
/* 	border: 0px; !important; */
/* } */
#bottom {
	background-color: #f5f5f5 !important;
	border: 0px; !important;
	
}
#bottom .ui-widget-content{
	background-color: #f5f5f5 !important;
	border: 0px; !important;
	padding-left: 10px !important;
}
#bottom a {
	 text-decoration: none;
}
.ui-slidemenu-wrapper{
	height: 60px !important;
}