{"swagger":"2.0","info":{"title":"FreeProbeAPI","description":"Probe API offers direct access to our monitoring network that consists of tens of thousands of monitoring probes distributed across the whole World. We are able to test network parameters such as latencies, routing and throughput from most of the consumer ISPs.","contact":{"name":"optimalsoftware","url":"http://www.probeapi.com"},"version":null,"x-logo":"https://s3.amazonaws.com/mashape-production-logos/apis/5551fb75e4b0ca7767e83b73_medium","x-mashape-categories":["Tools","Data"],"x-origin":{"format":"mashape","url":"https://market.mashape.com/optimalsoftware/freeprobeapi"}},"host":"probeapifree.p.mashape.com","basePath":"","paths":{"/Probes.svc/GetCountries":{"get":{"description":"Gets list of countries with number of active probes. Lists only countries with active probes.","operationId":"getcountries","produces":["application/json"],"responses":{"200":{"description":null,"schema":"#/definitions/Resource"}}}},"/Probes.svc/GetNetworksByCountry":{"get":{"description":"Gets list of networks in country with number of active probes. Lists only networks with active probes.","operationId":"getnetworksbycountry","parameters":[{"name":"countrycode","in":"query","description":"Contry code (ISO 3166)","required":true}]}},"/Probes.svc/GetProbesByAsn":{"get":{"description":"Gets active probes for Asn","operationId":"getprobesbyasn","parameters":[{"name":"asnid","in":"query","description":"ID of an ASN","required":true}]}},"/Probes.svc/GetProbesByBoundingBox":{"get":{"description":"Gets active probes in selected area.","operationId":"getprobesbyboundingbox","parameters":[{"name":"maxlatitude","in":"query","description":"Latitude of north-east corner","required":true},{"name":"maxlongitude","in":"query","description":"Longitude of north-east corner","required":true},{"name":"minlatitude","in":"query","description":"Latitude of south-west corner","required":true},{"name":"minlongitude","in":"query","description":"Longitude of south-west corner","required":true}]}},"/Probes.svc/GetProbesByCountry":{"get":{"description":"Gets active probes in country.","operationId":"getprobesbycountry","parameters":[{"name":"countrycode","in":"query","description":"Contry code (ISO 3166)","required":true}]}},"/Probes.svc/GetProbesByNetwork":{"get":{"description":"Gets active probes in network (ISP).","operationId":"getprobesbynetwork","parameters":[{"name":"networkID","in":"query","description":"ID of network","required":true}]}},"/Probes.svc/StartDIGTestByASN":{"get":{"description":"Starts DIG test from probes selected by ASN IDs. DNS query is using user's DNS server as the DNS Resolver server and returns the \"Query time\" in miliseconds. Query type: A. Query class: IN. Cache:0. Recurse:0. Protocol:UDP. Tries:1. Time:2. Returns list of probes from which tests were performed.","operationId":"startdigtestbyasn","parameters":[{"name":"asnID","in":"query","description":"Comma-separated list of ASN IDs.","required":true},{"name":"cache","in":"query","description":"Cache result in local cache, e.g. 0 means don’t cache results (default 0)."},{"name":"commandtimeout","in":"query","description":"DNS query timeout in milliseconds (default 1000ms)"},{"name":"destination","in":"query","description":"Comma-separated list of hostnames that will be resolved","required":true},{"name":"probeslimit","in":"query","description":"Maximum number of probes that will be tested. If test requires testing multiple ASNs, probesLimit needs to be adjusted to be higher than actual number of tested ASNs.","required":true},{"name":"qClass","in":"query","description":"Query class (default IN)."},{"name":"qType","in":"query","description":"Query type (default A)."},{"name":"recurse","in":"query","description":"Set Recursion Desired flag (default 0)."},{"name":"retries","in":"query","description":"Total number of retries (default 0)"},{"name":"server","in":"query","description":"DNS server to use as a resolver, e.g. 8.8.8.8 (default, empty string, uses local DNS setting)"},{"name":"tcp","in":"query","description":"Use tcp as a transport, e.g. 0 means use UDP, both use port 53 (default 0)."},{"name":"time","in":"query","description":"Timeout value in miliseconds (default 2000)"},{"name":"timeout","in":"query","description":"Maximum time available to probes for testing in miliseconds (default 2000ms)."},{"name":"tries","in":"query","description":"Total number of tries, e.g. 1 means only one try will be done, no retries (default 1)."}]}},"/Probes.svc/StartDIGTestByBoundingBox":{"get":{"description":"Starts DIG test from probes in selected area. DNS query is using user's DNS server as the DNS Resolver server and returns the \"Query time\" in miliseconds. Query type: A. Query class: IN. Cache:0. Recurse:0. Protocol:UDP. Tries:1. Time:2. Returns list of probes from which tests were performed.","operationId":"startdigtestbyboundingbox","parameters":[{"name":"cache","in":"query","description":"Cache result in local cache, e.g. 0 means don’t cache results (default 0)."},{"name":"commandtimeout","in":"query","description":"DNS query timeout in milliseconds (default 1000ms)"},{"name":"destination","in":"query","description":"Comma-separated list of hostnames that will be resolved","required":true},{"name":"maxLatitude","in":"query","description":"Latitude of north-east corner.","required":true},{"name":"maxLongitude","in":"query","description":"Longitude of north-east corner.","required":true},{"name":"minLatitude","in":"query","description":"Latitude of south-west corner.","required":true},{"name":"minLongitude","in":"query","description":"Longitude of south-west corner.","required":true},{"name":"probesLimit","in":"query","description":"Maximum number of probes that will be tested.","required":true},{"name":"qClass","in":"query","description":"Query class (default IN)."},{"name":"qType","in":"query","description":"Query type (default A)."},{"name":"recurse","in":"query","description":"Set Recursion Desired flag (default 0)."},{"name":"retries","in":"query","description":"Total number of retries (default 0)"},{"name":"server","in":"query","description":"DNS server to use as a resolver, e.g. 8.8.8.8 (default, empty string, uses local DNS setting)."},{"name":"tcp","in":"query","description":"Use tcp as a transport, e.g. 0 means use UDP, both use port 53 (default 0)."},{"name":"time","in":"query","description":"Timeout value in miliseconds (default 2000)."},{"name":"timeout","in":"query","description":"Maximum time available to probes for testing in miliseconds (default 2000ms)."},{"name":"tries","in":"query","description":"Total number of tries, e.g. 1 means only one try will be done, no retries (default 1)."}]}},"/Probes.svc/StartDIGTestByCountry":{"get":{"description":"Starts DIG test from probes in selected countries. DNS query is using user's DNS server as the DNS Resolver server and returns the \"Query time\" in miliseconds. Query type: A. Query class: IN. Cache:0. Recurse:0. Protocol:UDP. Tries:1. Time:2. Returns list of probes from which tests were performed.","operationId":"startdigtestbycountry","parameters":[{"name":"cache","in":"query","description":"Cache result in local cache, e.g. 0 means don’t cache results (default 0)."},{"name":"commandtimeout","in":"query","description":"DNS query timeout in milliseconds (default 1000ms)"},{"name":"countrycode","in":"query","description":"Comma-separated list of country codes (ISO 3166, e.g. US for USA)","required":true},{"name":"destination","in":"query","description":"Comma-separated list of hostnames that will be resolved","required":true},{"name":"probeslimit","in":"query","description":"Maximum number of probes that will be tested. If test requires testing multiple countries probesLimit needs to be adjusted to be higher than actual number of tested countries.","required":true},{"name":"qClass","in":"query","description":"Query class (default IN)."},{"name":"qType","in":"query","description":"Query type (default A)."},{"name":"recurse","in":"query","description":"Set Recursion Desired flag (default 0)."},{"name":"retries","in":"query","description":"Total number of retries (default 0)"},{"name":"server","in":"query","description":"DNS server to use as a resolver, e.g. 8.8.8.8 (default, empty string, uses local DNS setting)."},{"name":"statecode","in":"query","description":"2-letter state code (applies only when CountryCode=US)"},{"name":"tcp","in":"query","description":"Use tcp as a transport, e.g. 0 means use UDP, both use port 53 (default 0)."},{"name":"time","in":"query","description":"Timeout value in miliseconds (default 2000)."},{"name":"timeout","in":"query","description":"Maximum time available to probes for testing in miliseconds (default 2000ms)."},{"name":"tries","in":"query","description":"Total number of tries, e.g. 1 means only one try will be done, no retries (default 1)."}]}},"/Probes.svc/StartDIGTestByNetwork":{"get":{"description":"Starts DIG test from probes in selected network (ISP). DNS query is using user's DNS server as the DNS Resolver server and returns the \"Query time\" in miliseconds. Query type: A. Query class: IN. Cache:0. Recurse:0. Protocol:UDP. Tries:1. Time:2. Returns list of probes from which tests were performed.","operationId":"startdigtestbynetwork","parameters":[{"name":"cache","in":"query","description":"Cache result in local cache, e.g. 0 means don’t cache results (default 0)."},{"name":"commandtimeout","in":"query","description":"DNS query timeout in milliseconds (default 1000ms)"},{"name":"destination","in":"query","description":"Comma-separated list of hostnames that will be resolved","required":true},{"name":"networkid","in":"query","description":"Comma-separated list of Network IDs","required":true},{"name":"probeslimit","in":"query","description":"Maximum number of probes that will be tested. If test requires testing multiple networks probesLimit needs to be adjusted to be higher than actual number of tested networks.","required":true},{"name":"qClass","in":"query","description":"Query class (default IN)."},{"name":"qType","in":"query","description":"Query type (default A)"},{"name":"recurse","in":"query","description":"Set Recursion Desired flag (default 0)."},{"name":"retries","in":"query","description":"Total number of retries (default 0)"},{"name":"server","in":"query","description":"DNS server to use as a resolver, e.g. 8.8.8.8 (default, empty string, uses local DNS setting)."},{"name":"tcp","in":"query","description":"Use tcp as a transport, e.g. 0 means use UDP, both use port 53 (default 0)."},{"name":"time","in":"query","description":"Timeout value in miliseconds (default 2000)."},{"name":"timeout","in":"query","description":"Maximum time available to probes for testing in miliseconds (default 2000ms)."},{"name":"tries","in":"query","description":"Total number of tries, e.g. 1 means only one try will be done, no retries (default 1)."}]}},"/Probes.svc/StartHttpGetTestByASN":{"get":{"description":"Starts http get test from probes selected by ASN IDs. Returns list of probes from which tests were performed.","operationId":"starthttpgettestbyasn","parameters":[{"name":"asnID","in":"query","description":"Comma-separated list of ASN IDs.","required":true},{"name":"commandtimeout","in":"query","description":"Maximum allowed time to send HTTP GET request and receive the response in milliseconds. If not set it will default to timeout-1000 milliseconds."},{"name":"destination","in":"query","description":"Comma-separated list of URLs that will be tested. Destination URL can start with http or https, if it does not, http is automatically presumed.","required":true},{"name":"maxbyte","in":"query","description":"Max bytes to download from response stream. Default 10485760  (10MB)"},{"name":"probeslimit","in":"query","description":"Maximum number of probes that will be tested. If test requires testing multiple ASNs, probesLimit needs to be adjusted to be higher than actual number of tested ASNs.","required":true},{"name":"timeout","in":"query","description":"Maximum time available to probes for testing in miliseconds (default 8000)."}]}},"/Probes.svc/StartHttpGetTestByBoundingBox":{"get":{"description":"Starts http get test from probes in selected area. Returns list of probes from which tests were performed.","operationId":"starthttpgettestbyboundingbox","parameters":[{"name":"commandtimeout","in":"query","description":"Maximum allowed time to send HTTP GET request and receive the response in milliseconds. If not set it will default to timeout-1000 milliseconds."},{"name":"destination","in":"query","description":"Comma-separated list of URLs that will be tested. Destination URL can start with http or https, if it does not, http is automatically presumed.","required":true},{"name":"maxbytes","in":"query","description":"Max bytes to download from response stream.Default 10485760  (10MB)"},{"name":"maxLatitude","in":"query","description":"Latitude of north-east corner.","required":true},{"name":"maxLongitude","in":"query","description":"Longitude of north-east corner.","required":true},{"name":"minLatitude","in":"query","description":"Latitude of south-west corner.","required":true},{"name":"minLongitude","in":"query","description":"Longitude of south-west corner.","required":true},{"name":"probesLimit","in":"query","description":"Maximum number of probes that will be tested.","required":true},{"name":"timeout","in":"query","description":"Maximum time available to probes for testing in miliseconds (default 8000)."}]}},"/Probes.svc/StartHttpGetTestByCountry":{"get":{"description":"Starts http get test from probes in selected countries. Returns list of probes from which tests were performed.","operationId":"starthttpgettestbycountry","parameters":[{"name":"commandtimeout","in":"query","description":"Maximum allowed time to send HTTP GET request and receive the response in milliseconds. If not set it will default to timeout-1000 milliseconds."},{"name":"countrycode","in":"query","description":"Comma-separated list of country codes (ISO 3166, e.g. US for USA)","required":true},{"name":"destination","in":"query","description":"Comma-separated list of URLs that will be tested. Destination URL can start with http or https, if it does not, http is automatically presumed.","required":true},{"name":"maxbytes","in":"query","description":"Max bytes to download from response stream. Default 10485760  (10MB)"},{"name":"probesLimit","in":"query","description":"Maximum number of probes that will be tested.","required":true},{"name":"statecode","in":"query","description":"2-letter state code (applies only when CountryCode=US)"},{"name":"timeout","in":"query","description":"Maximum time available to probes for testing in miliseconds (default 8000)."}]}},"/Probes.svc/StartHttpGetTestByNetwork":{"get":{"description":"Starts http get test from probes in selected network (ISP). Returns list of probes from which tests were performed.","operationId":"starthttpgettestbynetwork","parameters":[{"name":"commandtimeout","in":"query","description":"Maximum allowed time to send HTTP GET request and receive the response in milliseconds. If not set it will default to timeout-1000 milliseconds."},{"name":"destination","in":"query","description":"Comma-separated list of URLs that will be tested. Destination URL can start with http or https, if it does not, http is automatically presumed.","required":true},{"name":"maxbytes","in":"query","description":"max bytes to download from response stream. Default 10485760  (10MB)"},{"name":"networkid","in":"query","description":"Comma-separated list of Network IDs","required":true},{"name":"probeslimit","in":"query","description":"Maximum number of probes that will be tested. If test requires testing multiple networks probesLimit needs to be adjusted to be higher than actual number of tested networks.","required":true},{"name":"timeout","in":"query","description":"Maximum time available to probes for testing in miliseconds (default 8000ms)."}]}},"/Probes.svc/StartPageLoadByBoundingBox":{"get":{"description":"Starts page load test from probes in selected area. Returns list of probes from which tests were performed.","operationId":"startpageloadbyboundingbox","parameters":[{"name":"commandtimeout","in":"query","description":"Maximum allowed time for pageload in milliseconds.If not set it will default to timeout-1000 milliseconds."},{"name":"destination","in":"query","description":"Comma-separated list of URLs that will be tested. Destination URL can start with http or https, if it does not, http is automatically presumed.","required":true},{"name":"maxLatitude","in":"query","description":"Latitude of north-east corner.","required":true},{"name":"maxLongitude","in":"query","description":"Longitude of north-east corner.","required":true},{"name":"minLatitude","in":"query","description":"Latitude of south-west corner.","required":true},{"name":"minLongitude","in":"query","description":"Longitude of south-west corner.","required":true},{"name":"probeslimit","in":"query","description":"Maximum number of probes that will be tested. If test requires testing multiple countries probesLimit needs to be adjusted to be higher than actual number of tested countries.","required":true},{"name":"timeout","in":"query","description":"Maximum time available to probes for testing in miliseconds (default 45000ms)."}]}},"/Probes.svc/StartPageLoadTestByASN":{"get":{"description":"Starts page load test from probes selected by ASN IDs. Returns list of probes from which tests were performed.","operationId":"startpageloadtestbyasn","parameters":[{"name":"asnID","in":"query","description":"Comma-separated list of ASN IDs.","required":true},{"name":"commandtimeout","in":"query","description":"Maximum allowed time for pageload in milliseconds.. If not set it will default to timeout-1000 milliseconds."},{"name":"destination","in":"query","description":"Comma-separated list of URLs that will be tested. Destination URL can start with http or https, if it does not, http is automatically presumed.","required":true},{"name":"probeslimit","in":"query","description":"Maximum number of probes that will be tested. If test requires testing multiple ASNs, probesLimit needs to be adjusted to be higher than actual number of tested ASNs.","required":true},{"name":"timeout","in":"query","description":"Maximum time available to probes for testing in miliseconds (default 45000ms).","required":true}]}},"/Probes.svc/StartPageLoadTestByCountry":{"get":{"description":"Starts page load test from probes in selected countries. Returns list of probes from which tests were performed.","operationId":"startpageloadtestbycountry","parameters":[{"name":"commandtimeout","in":"query","description":"Maximum allowed time for pageload in milliseconds. If not set it will default to timeout-1000 milliseconds."},{"name":"countrycode","in":"query","description":"Comma-separated list of country codes (ISO 3166, e.g. US for USA)","required":true},{"name":"destination","in":"query","description":"Comma-separated list of URLs that will be tested. Destination URL can start with http or https, if it does not, http is automatically presumed.","required":true},{"name":"probeslimit","in":"query","description":"Maximum number of probes that will be tested. If test requires testing multiple countries probesLimit needs to be adjusted to be higher than actual number of tested countries.","required":true},{"name":"statecode","in":"query","description":"2-letter state code (applies only when CountryCode=US)"},{"name":"timeout","in":"query","description":"Maximum time available to probes for testing in miliseconds (default 45000ms)."}]}},"/Probes.svc/StartPageLoadTestByNetwork":{"get":{"description":"Starts page load test from probes in selected network (ISP). Returns list of probes from which tests were performed.","operationId":"startpageloadtestbynetwork","parameters":[{"name":"commandtimeout","in":"query","description":"Maximum allowed time for pageload in milliseconds. If not set it will default to timeout-1000 milliseconds."},{"name":"destination","in":"query","description":"Comma-separated list of URLs that will be tested. Destination URL can start with http or https, if it does not, http is automatically presumed.","required":true},{"name":"networkid","in":"query","description":"Comma-separated list of Network IDs","required":true},{"name":"probeslimit","in":"query","description":"Maximum number of probes that will be tested. If test requires testing multiple networks probesLimit needs to be adjusted to be higher than actual number of tested networks.","required":true},{"name":"timeout","in":"query","description":"Maximum time available to probes for testing in miliseconds (default 45000ms)."}]}},"/Probes.svc/StartPingTestByASN":{"get":{"description":"Starts ping test from probes selected by ASN. Each probe (up to \"probeslimit\" parameter value) will execute multiple ping tests (default 3, can be changed in \"count\" parameter) with delay of 1s between each ping (can be changed in \"sleep\" parameter). Response will contain ping results from multiple probes. Each probe result is calculated average of the individual pings executed from  that particular probe.","operationId":"startpingtestbyasn","parameters":[{"name":"asnid","in":"query","description":"Comma-separated list of ASN IDs","required":true},{"name":"buffersize","in":"query","description":"Size of the Packet data (default 32, max 65500)"},{"name":"commandtimeout","in":"query","description":"Ping timeout in miliseconds that one ping can take (default 1000ms)."},{"name":"count","in":"query","description":"Number of pings to run (default 3). If number of pings is changed, timeout parameter should be changed as well to ensure probe has time to execute all pings."},{"name":"destination","in":"query","description":"An IP address or hostname that will be pinged","required":true},{"name":"fragment","in":"query","description":"Fragmentation of sending packets. (default 1)"},{"name":"ipv4only","in":"query","description":"Force using IPv4. If no IPv4 IP address is returned will return error (default 0)"},{"name":"ipv6only","in":"query","description":"Force using IPv6. If no IPv6 IP address is returned will return error (default 0)"},{"name":"probeslimit","in":"query","description":"Maximum number of probes that will be tested. If test requires testing multiple ASNs, probesLimit needs to be adjusted to be higher than actual number of tested ASNs.","required":true},{"name":"resolve","in":"query","description":"IP addresses will be resolved to domain names for each hop (default 0)"},{"name":"sleep","in":"query","description":"Sleep between pings as executed on one probe in miliseconds (default 1000ms)."},{"name":"timeout","in":"query","description":"Amount of time in milliseconds in which API responds with result (default 6000). Timeout should be calculated in following way: Timeout =  count * commandtimeout + (count-1) * sleep + 1000ms buffer for delay with API communication"},{"name":"ttl","in":"query","description":"Max allowed hops for packet (default 128, max 255)"}]}},"/Probes.svc/StartPingTestByBoundingBox":{"get":{"description":"Starts ping test from probes in selected area. Each probe (up to \"probeslimit\" parameter value) will execute multiple ping tests (default 3, can be changed in \"count\" parameter) with delay of 1s between each ping (can be changed in \"sleep\" parameter). Response will contain ping results from multiple probes. Each probe result is calculated average of the individual pings executed from that particular probe.","operationId":"startpingtestbyboundingbox","parameters":[{"name":"buffersize","in":"query","description":"Size of the Packet data (default 32, max 65500)"},{"name":"commandtimeout","in":"query","description":"Ping timeout in miliseconds that one ping can take (default 1000ms)."},{"name":"count","in":"query","description":"Number of pings to run (default 3). If number of pings is changed, timeout parameter should be changed as well to ensure probe has time to execute all pings."},{"name":"destination","in":"query","description":"An IP address or hostname that will be pinged","required":true},{"name":"fragment","in":"query","description":"Fragmentation of sending packets. (default 1)"},{"name":"ipv4only","in":"query","description":"Force using IPv4. If no IPv4 IP address is returned will return error (default 0)"},{"name":"ipv6only","in":"query","description":"Force using IPv6. If no IPv6 IP address is returned will return error (default 0)"},{"name":"maxlatitude","in":"query","description":"Latitude of north-east corner","required":true},{"name":"maxlongitude","in":"query","description":"Longitude of north-east corner","required":true},{"name":"minlatitude","in":"query","description":"Latitude of south-west corner","required":true},{"name":"minlongitude","in":"query","description":"Longitude of south-west corner","required":true},{"name":"probeslimit","in":"query","description":"Maximum number of probes that will be tested","required":true},{"name":"resolve","in":"query","description":"IP addresses will be resolved to domain names for each hop (default 0)"},{"name":"sleep","in":"query","description":"Sleep between pings as executed on one probe in miliseconds (default 1000ms)."},{"name":"timeout","in":"query","description":"Amount of time in milliseconds in which API responds with result (default 6000). Timeout should be calculated in following way: Timeout = count * commandtimeout + (count-1) * sleep + 1000ms buffer for delay with API communication"},{"name":"ttl","in":"query","description":"Max allowed hops for packet (default 128, max 255)"}]}},"/Probes.svc/StartPingTestByCountry":{"get":{"description":"Starts ping test from probes in selected countries. Each probe (up to \"probeslimit\" parameter value) will execute multiple ping tests (default 3, can be changed in \"count\" parameter) with delay of 1s between each ping (can be changed in \"sleep\" parameter). Response will contain ping results from multiple probes. Each probe result is calculated average of the individual pings executed from that particular probe.","operationId":"startpingtestbycountry","produces":["application/json"],"parameters":[{"name":"buffersize","in":"query","description":"Size of the Packet data (default 32, max 65500)"},{"name":"commandtimeout","in":"query","description":"Ping timeout in miliseconds that one ping can take (default 1000ms)."},{"name":"count","in":"query","description":"Number of pings to run (default 3). If number of pings is changed, timeout parameter should be changed as well to ensure probe has time to execute all pings."},{"name":"countrycode","in":"query","description":"Comma-separated list of country codes (ISO 3166, e.g. US for USA)","required":true},{"name":"destination","in":"query","description":"An IP address or hostname that will be pinged","required":true},{"name":"fragment","in":"query","description":"Fragmentation of sending packets  (default 1)"},{"name":"ipv4only","in":"query","description":"Force using IPv4. If no IPv4 IP address is returned will return error (default 0)"},{"name":"ipv6only","in":"query","description":"Force using IPv6. If no IPv6 IP address is returned will return error (default 0)"},{"name":"probeslimit","in":"query","description":"Maximum number of probes that will be tested. If test requires testing multiple countries probesLimit needs to be adjusted to be higher than actual number of tested countries.","required":true},{"name":"resolve","in":"query","description":"IP addresses will be resolved to domain names for each hop (default 0)"},{"name":"sleep","in":"query","description":"Sleep between pings as executed on one probe in miliseconds (default 1000ms)."},{"name":"statecode","in":"query","description":"2-letter state code (applies only when CountryCode=US)"},{"name":"timeout","in":"query","description":"Amount of time in milliseconds in which API responds with result (default 6000). Timeout should be calculated in following way: Timeout = count * commandtimeout + (count-1) * sleep + 1000ms buffer for delay with API communication"},{"name":"ttl","in":"query","description":"Max allowed hops for packet (default 128, max 255)"}],"responses":{"200":{"description":null,"schema":"#/definitions/Resource"}}}},"/Probes.svc/StartPingTestByNetwork":{"get":{"description":"Starts ping test from probes in selected network (ISP). Each probe (up to \"probeslimit\" parameter value) will execute multiple ping tests (default 3, can be changed in \"count\" parameter) with delay of 1s between each ping (can be changed in \"sleep\" parameter). Response will contain ping results from multiple probes. Each probe result is calculated average of the individual pings executed from that particular probe.","operationId":"startpingtestbynetwork","parameters":[{"name":"buffersize","in":"query","description":"Size of the Packet data (default 32, max 65500)"},{"name":"commandtimeout","in":"query","description":"Ping timeout in miliseconds that one ping can take (default 1000ms)."},{"name":"count","in":"query","description":"Number of pings to run (default 3). If number of pings is changed, timeout parameter should be changed as well to ensure probe has time to execute all pings."},{"name":"destination","in":"query","description":"An IP address or hostname that will be pinged","required":true},{"name":"fragment","in":"query","description":"Fragmentation of sending packets. (default 1)"},{"name":"ipv4only","in":"query","description":"Force using IPv4. If no IPv4 IP address is returned will return error (default 0)"},{"name":"ipv6only","in":"query","description":"Force using IPv6. If no IPv6 IP address is returned will return error (default 0)"},{"name":"networkid","in":"query","description":"Comma-separated list of Network IDs","required":true},{"name":"probeslimit","in":"query","description":"Maximum number of probes that will be tested. If test requires testing multiple networks probesLimit needs to be adjusted to be higher than actual number of tested networks.","required":true},{"name":"resolve","in":"query","description":"IP addresses will be resolved to domain names for each hop (default 0)"},{"name":"sleep","in":"query","description":"Sleep between pings as executed on one probe in miliseconds (default 1000ms)."},{"name":"timeout","in":"query","description":"Amount of time in milliseconds in which API responds with result (default 6000). Timeout should be calculated in following way: Timeout = count * commandtimeout + (count-1) * sleep + 1000ms buffer for delay with API communication"},{"name":"ttl","in":"query","description":"Max allowed hops for packet (default 128, max 255)"}]}},"/Probes.svc/StartTracertTestByASN":{"get":{"description":"Starts traceroute test from probes selected by ASN IDs. Returns list of probes from which tests were performed. Timeout parameter may need increasing if your test does not contain all the hops up to the destination.","operationId":"starttracerttestbyasn","produces":["application/json"],"parameters":[{"name":"asnID","in":"query","description":"Comma-separated list of ASN IDs","required":true},{"name":"buffersize","in":"query","description":"Size of the Packet data (default 32, max 65500)"},{"name":"commandtimeout","in":"query","description":"Ping timeout in miliseconds that one ping can take (default 1000ms)."},{"name":"count","in":"query","description":"Number of pings to each hop. (default 3)"},{"name":"destination","in":"query","description":"Comma-separated list of IP addresses or hostnames  that will be tested","required":true},{"name":"fragment","in":"query","description":"Fragmentation of sending packets  (default 1)"},{"name":"ipv4only","in":"query","description":"Force using IPv4. If no IPv4 IP address is returned will return error (default 0)"},{"name":"ipv6only","in":"query","description":"Force using IPv6. If no IPv6 IP address is returned will return error (default 0)"},{"name":"maxfailedhops","in":"query","description":"Stop the command execution after maximum errors in a row (e.g. stop after 5 ping  timeouts, default 0)"},{"name":"probeslimit","in":"query","description":"Maximum number of probes that will be tested. If test requires testing multiple ASNs, probesLimit needs to be adjusted to be higher than actual number of tested ASNs.","required":true},{"name":"resolve","in":"query","description":"IP addresses will be resolved to domain names for each hop (default 1 so it will resolve)"},{"name":"sleep","in":"query","description":"Sleep between pings in miliseconds (default 300ms)."},{"name":"timeout","in":"query","description":"Maximum time available to probes for testing in miliseconds (default 50000ms)."},{"name":"ttl","in":"query","description":"Max number of hops. (default 128, max 255)"},{"name":"ttlstart","in":"query","description":"First Hop from which the trace route should start (default 1)"}],"responses":{"200":{"description":null,"schema":"#/definitions/Resource"}}}},"/Probes.svc/StartTracertTestByBoundingBox":{"get":{"description":"Starts traceroute test from probes in selected area. Returns list of probes from which tests were performed.  Timeout parameter may need increasing if your test does not contain all the hops up to the destination.","operationId":"starttracerttestbyboundingbox","parameters":[{"name":"buffersize","in":"query","description":"Size of the Packet data (default 32, max 65500)"},{"name":"commandtimeout","in":"query","description":"Ping timeout in miliseconds that one ping can take (default 1000ms)."},{"name":"count","in":"query","description":"Number of pings to each hop. (default 3)"},{"name":"destination","in":"query","description":"Comma-separated list of IP addresses or hostnames that will be tested","required":true},{"name":"fragment","in":"query","description":"Fragmentation of sending packets (default 1)"},{"name":"ipv4only","in":"query","description":"Force using IPv4. If no IPv4 IP address is returned will return error (default 0)"},{"name":"ipv6only","in":"query","description":"Force using IPv6. If no IPv6 IP address is returned will return error (default 0)"},{"name":"maxfailedhops","in":"query","description":"Stop the command execution after maximum errors in a row (e.g. stop after 5 ping  timeouts, default 0)"},{"name":"maxLatitude","in":"query","description":"Latitude of north-east corner","required":true},{"name":"maxlongitude","in":"query","description":"Longitude of north-east corner","required":true},{"name":"minLatitude","in":"query","description":"Latitude of south-west corner","required":true},{"name":"minLongitude","in":"query","description":"Longitude of south-west corner","required":true},{"name":"probesLimit","in":"query","description":"Maximum number of probes that will be tested","required":true},{"name":"resolve","in":"query","description":"IP addresses will be resolved to domain names for each hop (default 0)"},{"name":"sleep","in":"query","description":"Sleep between pings in miliseconds (default 300ms)."},{"name":"timeout","in":"query","description":"Maximum time available to probes for testing in miliseconds (default 50000ms)."},{"name":"ttl","in":"query","description":"Max number of hops. (default 128, max 255)"},{"name":"ttlstart","in":"query","description":"First Hop from which the trace route should start (default 1)"}]}},"/Probes.svc/StartTracertTestByCountry":{"get":{"description":"Starts traceroute test from probes in selected countries. Returns list of probes from which tests were performed.  Timeout parameter may need increasing if your test does not contain all the hops up to the destination.","operationId":"starttracerttestbycountry","produces":["application/json"],"parameters":[{"name":"buffersize","in":"query","description":"Size of the Packet data (default 32, max 65500)"},{"name":"commandtimeout","in":"query","description":"Ping timeout in miliseconds that one ping can take (default 1000ms)."},{"name":"count","in":"query","description":"Number of pings to each hop. (default 3)"},{"name":"countrycode","in":"query","description":"Comma-separated list of country codes (ISO 3166, e.g. US for USA)","required":true},{"name":"destination","in":"query","description":"Comma-separated list of IP addresses or hostnames  that will be tested.","required":true},{"name":"fragment","in":"query","description":"Fragmentation of sending packets (default 1)"},{"name":"ipv4only","in":"query","description":"Force using IPv4. If no IPv4 IP address is returned will return error (default 0)"},{"name":"ipv6only","in":"query","description":"Force using IPv6. If no IPv6 IP address is returned will return error (default 0)"},{"name":"maxfailedhops","in":"query","description":"Stop the command execution after maximum errors in a row (e.g. stop after 5 ping   timeouts, default=0)"},{"name":"probeslimit","in":"query","description":"Maximum number of probes that will be tested. If test requires testing multiple countries probesLimit needs to be adjusted to be higher than actual number of tested countries.","required":true},{"name":"resolve","in":"query","description":"IP addresses will be resolved to domain names for each hop (default 0)"},{"name":"sleep","in":"query","description":"Sleep between pings in miliseconds (default 300ms)."},{"name":"statecode","in":"query","description":"2-letter state code (applies only when CountryCode=US)"},{"name":"timeout","in":"query","description":"Maximum time available to probes for testing in miliseconds (default 50000ms)."},{"name":"ttl","in":"query","description":"Max number of hops. (default 128, max 255)"},{"name":"ttlstart","in":"query","description":"First Hop from which the trace route should start (default 1)"}],"responses":{"200":{"description":null,"schema":"#/definitions/Resource"}}}},"/Probes.svc/StartTracertTestByNetwork":{"get":{"description":"Starts traceroute test from probes in selected network (ISP). Returns list of probes from which tests were performed.  Timeout parameter may need increasing if your test does not contain all the hops up to the destination.","operationId":"starttracerttestbynetwork","produces":["application/json"],"parameters":[{"name":"buffersize","in":"query","description":"Size of the Packet data (default 32, max 65500)"},{"name":"commandtimeout","in":"query","description":"Ping timeout in miliseconds that one ping can take (default 1000ms)."},{"name":"count","in":"query","description":"Number of pings to each hop. (default 3)"},{"name":"destination","in":"query","description":"Comma-separated list of IP addresses or hostnames  that will be tested.","required":true},{"name":"fragment","in":"query","description":"Fragmentation of sending packets (default 1)"},{"name":"ipv4only","in":"query","description":"Force using IPv4. If no IPv4 IP address is returned will return error (default 0)"},{"name":"ipv6only","in":"query","description":"Force using IPv6. If no IPv6 IP address is returned will return error (default 0)"},{"name":"maxfailedhops","in":"query","description":"Stop the command execution after maximum errors in a row (e.g. stop after 5 ping  timeouts, default 0)"},{"name":"networkid","in":"query","description":"Comma-separated list of Network IDs","required":true},{"name":"probeslimit","in":"query","description":"Maximum number of probes that will be tested. If test requires testing multiple networks probesLimit needs to be adjusted to be higher than actual number of tested networks.","required":true},{"name":"resolve","in":"query","description":"IP addresses will be resolved to domain names for each hop (default 0)"},{"name":"sleep","in":"query","description":"Sleep between pings in miliseconds (default 300ms)."},{"name":"timeout","in":"query","description":"Maximum time available to probes for testing in miliseconds (default 50000ms). It should not be more than 60000ms."},{"name":"ttl","in":"query","description":"Max number of hops. (default 128, max 255)"},{"name":"ttlstart","in":"query","description":"First Hop from which the trace route should start (default 1)"}],"responses":{"200":{"description":null,"schema":"#/definitions/Resource"}}}}},"definitions":{"Resource":{"type":"object","properties":{"GetCountriesResult":{"type":"array","items":{"$ref":"#/definitions/GetCountriesResult"}}}},"GetCountriesResult":{"type":"object","properties":{"CountryCode":{"type":"string"},"CountryFlag":{"type":"string"},"CountryName":{"type":"string"},"ProbesCount":{"type":"integer"}}}}}